Repository nicksen/nix_ex: changes, and which lefthook commands are due for each by the changed paths.
All: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

nix_config_mix_lint:
  run: mix lint.fmt
  stage_fixed: true

nix_csp_mix_lint:
  run: mix lint.fmt
  stage_fixed: true

nix_std_mix_lint:
  run: mix lint.fmt
  stage_fixed: true

nix_ticker_mix_lint:
  run: mix lint.fmt
  stage_fixed: true

lint documentation
  nix_config/.doctor.exs
  nix_config/mix.exs
  nix_config/mix.lock
  nix_csp/.doctor.exs
  nix_csp/mix.exs
  nix_csp/mix.lock
  nix_std/.doctor.exs
  nix_std/lib/nix_std/fp.ex
  nix_std/mix.exs
  nix_std/mix.lock
  nix_ticker/.doctor.exs
  nix_ticker/lib/nix_ticker/timer/state.ex
  nix_ticker/mix.exs
  nix_ticker/mix.lock
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

remove leftover test tag
  nix_std/test/nix_std/fp_test.exs
Due: nix_std_mix_lint

deep merge and convert
  nix_std/lib/nix/deep_convert.ex
  nix_std/lib/nix/deep_merge/deep_merge.ex
  nix_std/lib/nix/deep_merge/resolver.ex
  nix_std/test/nix/deep_convert_test.exs
  nix_std/test/nix/deep_merge_test.exs
  nix_std/test/support/deep_merge_structs.ex
Due: nix_std_mix_lint

use `merge/2` from `:nix_std`
  nix_config/lib/nix_config.ex
  nix_config/mix.exs
  nix_config/mix.lock
  nix_config/test/nix_config/nix_config_test.exs
Due: nix_config_mix_lint

updated dependencies
  .tool-versions
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_std/mix.lock
  nix_ticker/mix.lock
  pnpm-lock.yaml
Due: none

basic makefile
  Makefile
Due: none

add make target to update dependencies
  Makefile
Due: none

updated dependencies
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_std/mix.lock
  nix_ticker/mix.lock
Due: none

use bleeding edge elixir v1.17.0-rc.0
  .tool-versions
  nix_config/.credo.exs
  nix_csp/.credo.exs
  nix_std/.credo.exs
  nix_ticker/.credo.exs
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

use a function for defining tasks for child projects
  Makefile
Due: none

add child projects to list separately
  Makefile
Due: none

fix installation instructions
  nix_config/README.md
  nix_config/mix.exs
  nix_csp/README.md
  nix_std/README.md
  nix_ticker/README.md
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

simpler formatting alias and add dialyzer warning
  nix_config/lib/nix_config.ex
  nix_config/mix.exs
  nix_csp/mix.exs
  nix_std/mix.exs
  nix_ticker/lib/nix_ticker/nix_ticker.ex
  nix_ticker/lib/nix_ticker/timer/timer.ex
  nix_ticker/mix.exs
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

use global plt core files
  nix_config/mix.exs
  nix_csp/mix.exs
  nix_std/mix.exs
  nix_ticker/mix.exs
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

clean unused dependency
  nix_config/mix.lock
Due: none

sort child projects list
  Makefile
Due: none

makefile improvements
  Makefile
Due: none

setup `prettier` and `prettier-package-json` formatters
  .prettierignore
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: none

update ignorefile
  .gitignore
Due: none

include node scripts in make targets
  Makefile
Due: none

updated dependencies
  .tool-versions
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_std/mix.lock
  nix_ticker/mix.lock
Due: none

formatting improvements
  .gitignore
  .prettierrc.json
  lefthook.yml
  nix_config/.gitignore
  nix_csp/.gitignore
  nix_dev/.gitignore
  nix_std/.gitignore
  nix_ticker/.gitignore
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: none

remove nextls generated data
  Makefile
Due: none

dev tasks project
  Makefile
  lefthook.yml
  nix_dev/.credo.exs
  nix_dev/.dialyzer_ignore.exs
  nix_dev/.doctor.exs
  nix_dev/.formatter.exs
  nix_dev/.gitignore
  nix_dev/.recode.exs
  nix_dev/README.md
  nix_dev/lib/mix/tasks/run.all.ex
  nix_dev/lib/nix_dev/run_all/match_tasks.ex
  nix_dev/lib/nix_dev/run_all/matcher.ex
  nix_dev/lib/nix_dev/run_all/run_all.ex
  nix_dev/lib/nix_dev/run_all/task_set.ex
  nix_dev/mix.exs
  nix_dev/mix.lock
  nix_dev/test/.formatter.exs
  nix_dev/test/mix/tasks/run.all_test.exs
  nix_dev/test/nix_dev/run_all/run_all_test.exs
  nix_dev/test/support/match_tasks_assertions.ex
  nix_dev/test/support/test_tasks.ex
  nix_dev/test/test_helper.exs
Due: none

updated dependencies
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_ticker/mix.lock
Due: none

fix installation instructions for `nix_dev`
  nix_dev/README.md
Due: none

updated dependencies
  .tool-versions
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_ticker/mix.lock
Due: none

reset to latest stable elixir
  .tool-versions
Due: none

updated dependencies
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_ticker/mix.lock
  package.json
  pnpm-lock.yaml
Due: none

execute tasks in all projects in cwd
  Makefile
  nix_dev/.credo.exs
  nix_dev/lib/mix/tasks/poncho.do.ex
  nix_std/lib/nix_std/predicate.ex
  nix_std/test/nix_std/predicate_test.exs
Due: nix_std_mix_lint

improve make tasks
  Makefile
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: none

switch from `asdf+direnv` to `mise`
  .envrc
  .mise.toml
  .tool-versions
Due: none

test helper to wait for tasks to complete
  Makefile
  lefthook.yml
  nix_test/.credo.exs
  nix_test/.dialyzer_ignore.exs
  nix_test/.doctor.exs
  nix_test/.formatter.exs
  nix_test/.recode.exs
  nix_test/README.md
  nix_test/lib/nix_test/async_case.ex
  nix_test/mix.exs
  nix_test/mix.lock
  nix_test/test/nix_test/async_case_test.exs
  nix_test/test/test_helper.exs
Due: none

updated dependencies
  .mise.toml
  nix_config/mix.exs
  nix_csp/mix.exs
  nix_dev/mix.exs
  nix_std/mix.exs
  nix_ticker/mix.exs
  package.json
  pnpm-lock.yaml
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

updated dependencies
  credo.config.exs
  nix_config/.credo.exs
  nix_config/mix.lock
  nix_csp/.credo.exs
  nix_csp/mix.lock
  nix_dev/.credo.exs
  nix_dev/mix.lock
  nix_dev/test/nix_dev/run_all/run_all_test.exs
  nix_std/.credo.exs
  nix_std/mix.lock
  nix_test/.credo.exs
  nix_test/mix.lock
  nix_ticker/.credo.exs
  nix_ticker/mix.lock
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

unify recode config globally
  nix_config/.recode.exs
  nix_csp/.recode.exs
  nix_dev/.recode.exs
  nix_std/.recode.exs
  nix_test/.recode.exs
  nix_ticker/.recode.exs
  recode.config.exs
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

unify mix formatter config globally
  format.config.exs
  nix_config/.formatter.exs
  nix_csp/.formatter.exs
  nix_dev/.formatter.exs
  nix_std/.formatter.exs
  nix_test/.formatter.exs
  nix_ticker/.formatter.exs
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

unify doctor config globally
  doctor.config.exs
  nix_config/.doctor.exs
  nix_csp/.doctor.exs
  nix_dev/.doctor.exs
  nix_std/.doctor.exs
  nix_test/.doctor.exs
  nix_ticker/.doctor.exs
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

updated dependencies
  .mise.toml
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_test/mix.lock
  nix_ticker/mix.lock
Due: none

function to get env variable with status on whether it was set
  nix_config/lib/nix_config.ex
  nix_config/test/nix_config/system_env_test.exs
Due: nix_config_mix_lint

Path conditions:
  nix_config_mix_lint: any of: *.{ex,exs,heex,md} and ^nix_config/
  nix_csp_mix_lint: any of: *.{ex,exs,heex,md} and ^nix_csp/
  nix_std_mix_lint: any of: *.{ex,exs,heex,md} and ^nix_std/
  nix_ticker_mix_lint: any of: *.{ex,exs,heex,md} and ^nix_ticker/
