Repository nicksen/nix_ex: changes, and which lefthook commands are due for each by the changed paths.
All: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

lefthook.yml:

---
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    nix_config_mix_lint:
      root: "nix_config/"
      glob: "*.{ex,exs,heex,md}"
      run: mix lint.fmt
      stage_fixed: true

    nix_csp_mix_lint:
      root: "nix_csp/"
      glob: "*.{ex,exs,heex,md}"
      run: mix lint.fmt
      stage_fixed: true

    nix_std_mix_lint:
      root: "nix_std/"
      glob: "*.{ex,exs,heex,md}"
      run: mix lint.fmt
      stage_fixed: true

    nix_ticker_mix_lint:
      root: "nix_ticker/"
      glob: "*.{ex,exs,heex,md}"
      run: mix lint.fmt
      stage_fixed: true

allow fallback to any type when fetching env variables
  nix_config/lib/nix_config.ex
Due: nix_config_mix_lint

don't merge nil config values
  nix_config/lib/nix_config.ex
  nix_config/test/nix_config/nix_config_test.exs
Due: nix_config_mix_lint

rearrange some types
  nix_ticker/lib/nix_ticker/nix_ticker.ex
  nix_ticker/lib/nix_ticker/timer/timer.ex
Due: nix_ticker_mix_lint

make target to generate documentation
  Makefile
Due: none

updated dependencies
  .mise.toml
  nix_config/mix.exs
  nix_config/mix.lock
  nix_csp/mix.exs
  nix_csp/mix.lock
  nix_dev/mix.exs
  nix_dev/mix.lock
  nix_std/mix.exs
  nix_std/mix.lock
  nix_test/mix.exs
  nix_test/mix.lock
  nix_ticker/mix.exs
  nix_ticker/mix.lock
  pnpm-lock.yaml
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

remove custom plt path
  nix_config/mix.exs
  nix_csp/mix.exs
  nix_dev/mix.exs
  nix_std/mix.exs
  nix_test/mix.exs
  nix_ticker/mix.exs
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

mix tasks for running node scripts, npm commands and executing npm packages
  nix_dev/config/config.exs
  nix_dev/lib/mix/tasks/node.ex
  nix_dev/lib/mix/tasks/npm.ex
  nix_dev/lib/mix/tasks/npx.ex
  nix_dev/lib/nix_dev/application.ex
  nix_dev/lib/nix_dev/command/command.ex
  nix_dev/lib/nix_dev/command/node.ex
  nix_dev/lib/nix_dev/command/npm.ex
  nix_dev/lib/nix_dev/command/npx.ex
  nix_dev/mix.exs
  nix_dev/test/nix_dev/command/node_test.exs
  nix_dev/test/nix_dev/command/npm_test.exs
  nix_dev/test/nix_dev/command/npx_test.exs
  nix_dev/test/support/echo.js
Due: none

updated dependencies
  .mise.toml
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_test/mix.lock
  nix_ticker/mix.lock
  package.json
  pnpm-lock.yaml
Due: none

switch prettier config to toml
  .mise.toml
  .prettierrc.toml
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: none

clean lexical lsp data
  Makefile
Due: none

warnings as errors for testing
  Makefile
Due: none

specify projects for make targets from commandline
  Makefile
Due: none

specify extra args to make targets from commandline
  Makefile
Due: none

updated dependencies
  .mise.toml
  Makefile
  bun.lockb
  credo.config.exs
  mise.lock
  mise.toml
  nix_config/config/config.exs
  nix_config/mix.exs
  nix_config/mix.lock
  nix_config/test/support/config_case.ex
  nix_csp/lib/nix_csp.ex
  nix_csp/mix.exs
  nix_csp/mix.lock
  nix_dev/mix.exs
  nix_dev/mix.lock
  nix_std/lib/nix_std/lazy.ex
  nix_std/mix.exs
  nix_std/mix.lock
  nix_std/test/nix_std/lazy_test.exs
  nix_std/test/nix_std/predicate_test.exs
  nix_test/mix.exs
  nix_test/mix.lock
  nix_ticker/mix.exs
  nix_ticker/mix.lock
  package.json
  pnpm-lock.yaml
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

add `stream_data` for property-based testing support
  format.config.exs
  nix_config/mix.exs
  nix_config/mix.lock
  nix_csp/mix.exs
  nix_csp/mix.lock
  nix_dev/mix.exs
  nix_dev/mix.lock
  nix_std/mix.exs
  nix_std/mix.lock
  nix_test/mix.exs
  nix_test/mix.lock
  nix_ticker/mix.exs
  nix_ticker/mix.lock
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

updated dependencies
  bun.lockb
  mise.lock
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_test/mix.lock
  nix_ticker/mix.lock
  package.json
Due: none

nix_totp generated app skaffolding
  nix_totp/.formatter.exs
  nix_totp/.gitignore
  nix_totp/README.md
  nix_totp/lib/nix_totp.ex
  nix_totp/mix.exs
  nix_totp/test/nix_totp_test.exs
  nix_totp/test/test_helper.exs
Due: none

nix_totp initial setup with linters and formatting
  Makefile
  nix_totp/.credo.exs
  nix_totp/.doctor.exs
  nix_totp/.formatter.exs
  nix_totp/.gitignore
  nix_totp/.recode.exs
  nix_totp/README.md
  nix_totp/lib/nix_totp.ex
  nix_totp/mix.exs
  nix_totp/mix.lock
  nix_totp/test/nix_totp_test.exs
Due: none

totp implemented
  nix_totp/lib/nix_totp.ex
  nix_totp/mix.exs
  nix_totp/test/nix_totp_test.exs
Due: none

updated dependencies
  bun.lockb
  mise.lock
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_test/mix.lock
  nix_ticker/mix.lock
  nix_totp/mix.lock
  package.json
Due: none

enforce latest elixir minor version
  nix_config/mix.exs
  nix_csp/mix.exs
  nix_dev/mix.exs
  nix_std/mix.exs
  nix_test/mix.exs
  nix_ticker/mix.exs
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

remove dialyzers `underspecs` flag and default empty ignore files
  nix_config/.dialyzer_ignore.exs
  nix_config/mix.exs
  nix_csp/.dialyzer_ignore.exs
  nix_csp/mix.exs
  nix_dev/.dialyzer_ignore.exs
  nix_dev/mix.exs
  nix_std/.dialyzer_ignore.exs
  nix_std/mix.exs
  nix_test/.dialyzer_ignore.exs
  nix_test/mix.exs
  nix_ticker/.dialyzer_ignore.exs
  nix_ticker/mix.exs
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

check and format totp on commit
  lefthook.yml
Due: none

updated dependencies
  bun.lock
  bun.lockb
  mise.lock
  mise.toml
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_test/mix.lock
  nix_ticker/mix.lock
  nix_totp/mix.lock
  package.json
Due: none

only add apps that are direct dependencies to the plts
  nix_config/mix.exs
  nix_csp/mix.exs
  nix_dev/mix.exs
  nix_std/mix.exs
  nix_test/mix.exs
  nix_ticker/mix.exs
  nix_totp/mix.exs
Due: nix_config_mix_lint, nix_csp_mix_lint, nix_std_mix_lint, nix_ticker_mix_lint

updated dependencies
  bun.lock
  mise.lock
  mise.toml
  nix_config/mix.lock
  nix_csp/lib/nix_csp.ex
  nix_csp/mix.exs
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_test/mix.lock
  nix_ticker/mix.lock
  nix_totp/mix.lock
  package.json
Due: nix_csp_mix_lint

formatting
  .prettierrc.toml
  mise.toml
Due: none

updated dependencies
  bun.lock
  mise.lock
  mise.toml
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_csp/test/nix_csp_test.exs
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_test/mix.lock
  nix_ticker/mix.lock
  nix_totp/mix.lock
  package.json
Due: nix_csp_mix_lint

updated dependencies
  bun.lock
  mise.lock
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_test/mix.lock
  nix_ticker/mix.lock
  nix_totp/mix.lock
  package.json
Due: none

updated dependencies
  .prettierrc.toml
  bun.lock
  mise.lock
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_test/mix.lock
  nix_ticker/mix.lock
  nix_totp/mix.lock
  package.json
Due: none

improve predicates
  nix_std/lib/nix_std/predicate.ex
  nix_std/test/nix_std/predicate_test.exs
Due: nix_std_mix_lint

result monadic type
  nix_std/lib/nix_std/result.ex
  nix_std/test/nix_std/result_test.exs
Due: nix_std_mix_lint

updated dependencies
  Makefile
  bun.lock
  mise.lock
  mise.toml
  nix_config/mix.lock
  nix_csp/mix.lock
  nix_dev/lib/mix/tasks/poncho.do.ex
  nix_dev/mix.lock
  nix_std/mix.lock
  nix_std/test/nix_std/fp_test.exs
  nix_test/mix.lock
  nix_ticker/mix.lock
  nix_totp/lib/nix_totp.ex
  nix_totp/mix.lock
  package.json
Due: nix_std_mix_lint

refactor some typings in `Result`
  nix_std/lib/nix_std/result.ex
Due: nix_std_mix_lint

updated dependencies
  bun.lock
  package.json
Due: none

wip: `Binary` and `Binary.Queue` implementations
  nix_std/lib/nix/binary/binary.ex
  nix_std/test/nix/binary/binary_test.exs
Due: nix_std_mix_lint

nix_gen: project skaffolding generators
  nix_gen/.credo.exs
  nix_gen/.dialyzer_ignore.exs
  nix_gen/.formatter.exs
  nix_gen/.gitignore
  nix_gen/.recode.exs
  nix_gen/README.md
  nix_gen/lib/mix/tasks/nix_lint/setup.ex
  nix_gen/lib/nix_lint/setup.ex
  nix_gen/mix.exs
  nix_gen/mix.lock
  nix_gen/test/test_helper.exs
Due: none

wip: security and crypto functions implemented
  nix_security_box/lib/nix_crypto.ex
  nix_security_box/mix.exs
  nix_security_box/test/nix_crypto/encrypt_encoding_iv_test.exs
  nix_security_box/test/nix_crypto/encrypt_encoding_no_iv_test.exs
  nix_security_box/test/nix_crypto/encrypt_iv_test.exs
  nix_security_box/test/nix_crypto/encrypt_no_iv_test.exs
  nix_security_box/test/nix_crypto/nix_crypto_test.exs
Due: none

nix_clock generated app skaffolding
  nix_clock/.formatter.exs
  nix_clock/.gitignore
  nix_clock/README.md
  nix_clock/lib/nix/clock.ex
  nix_clock/mix.exs
  nix_clock/test/nix/clock_test.exs
  nix_clock/test/test_helper.exs
Due: none

wip: taskrunner
  nix_dev/lib/mix/tasks/run.tasks.ex
  nix_dev/lib/nix_dev/task_runner/context.ex
  nix_dev/lib/nix_dev/task_runner/option/time_unit.ex
  nix_dev/lib/nix_dev/task_runner/printer.ex
  nix_dev/lib/nix_dev/task_runner/task_runner.ex
  nix_dev/mix.exs
  nix_dev/mix.lock
  nix_dev/tasks.exs
  nix_dev/test/nix_dev/task_runner/context_test.exs
Due: none
